<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.doublespeak">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_final"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_final"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">


        <activity android:name="com.doublespeak.android.doublespeak.activities.SplashActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.doublespeak.android.doublespeak.activities.MainActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.doublespeak.android.doublespeak.activities.GameFinishActivity"
            android:screenOrientation="landscape"/>

    </application>

</manifest>